.header {
    width: 100%;
    height: 60px;
    background-color: var(--background-opacity);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    z-index: 30;
    transition: var(--transition);
}

.header__scroll {
    box-shadow: 0 10px 30px -10px 
        var(--background-shadow);
}

.navlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist__item {
    margin: 20px;
}

.navlist__item > a:not(.high__button) {
    color: var(--text-main);
}

.navlist__item > a:hover {
    color: var(--text-highlight);
}

.menu__button {
    padding: 15px;
    position: relative;
    background-color: transparent;
    color: inherit;
    border: 0;
    text-transform: none;
    display: none;
    cursor: pointer;
}

.menu__box {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
}

.menu__inner {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    right: 0px;
    background-color: var(--text-main);
    transition: var(--transition);
    border-radius: 10px;
}

.menu__inner::before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 120%;
    background-color: var(--text-main);
    top: -10px;
    right: 0px;
    transition: var(--transition);
    border-radius: 10px;
}

.menu__inner::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 80%;
    background-color: var(--text-main);
    bottom: -10px;
    right: 0px;
    transition: var(--transition);
    border-radius: 10px;
}

.menu__button.is-active .menu__inner::before {
    top: 50%;
    width: 100%;
    transform: rotate(270deg);
    background-color: var(--text-highlight);
}

.menu__button.is-active .menu__inner {
    transform: rotate(45deg);
    background-color: var(--text-highlight);
}

.menu__button.is-active .menu__inner::after {
    top: 50%;
    width: 100%;
    transform: rotate(-270deg);
    background-color: var(--text-highlight);
}

@media (max-width: 1080px) {
    .header {
        padding: 0px 40px;
    }
}

@media (max-width: 768px) {
    .menu__button {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 60;
    }

    .nav__links {
        position: absolute;
        height: 100vh;
        width: min(75vw, 400px);
        z-index: 50;
        background-color: var(--background-box);
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        align-items: center;
        transition: var(--transition);
        transform: translateX(100%);
    }

    .navlist__item > a {
        font-size: 22px;
    }

    .show {
        transform: translateX(0);
    }

    .hidden {
        transform: translateX(100%);
    }

    .navlist {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 0px 10px;
    }
}


