.portfolio {
    margin: 0px auto;
    min-height: 100vh;
    max-width: 1000px;
    padding: 100px 0;
}

.projects__grid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(15em, 1fr)
    );
    grid-gap: 2em;
}

.project {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
    border-radius: 10px;
}

.project:hover {
    transform: translateY(-7px);
    box-shadow: var(--text-muted);
    color: var(--background-color);
    background: var(--text-muted);
}

.project__description {
    margin-top: 1em;
    color: var(--text-main);
}

.project__img {
    height: auto;
    width: 250px;
}

.project__tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
    color: var(--text-main);
}

.project__link {
    color: var(--text-main);
}

.project__icon {
    height: 42px;
    width: auto;
    color: var(--text-main);
}

.projects__title {
    font-size: 80px;
    text-align: center;
}

.project__tech {
    font-size: 16px;
}

