@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

:root {
    --font-small: 14px;
    --font-medium: 16px;
    --transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
    --hide: all 500ms ease-in-out;
    --background-color: #2f303a;
    --background-box: #1f1f21;
    --background-shadow: #131314;
    --background-opacity: #1b1b1ed9;
    --background-card-hover: #69c7d6ca;
    --text-main: #fff;
    --text-muted: #a9bcc4;
    --text-highlight: #91c4f2;
    --text-highlight-hover: #69c7d639;
    --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.app {
    color: var(--text-main);
    min-height: 100vh;
    background-color: var(--background-color);
    transition: var(--transition);
    font-family: "Inter", "Gill Sans", 
        "Gill Sans MT", Calibri, 
        "Trebuchet MS", sans-serif;
}

.app__section {
    margin: 0px auto;
    align-items: center; 
    min-height: 110vh;
    max-width: 1150px;
    padding: 100px 0;
}

.app__pages {
    min-height: 100vh;
    padding: 0px 40px;
}

.blur {
    filter: blur(2px);
}

@media (max-width: 1080px) {
    .main__pages {
        padding: 0px 100px;
    }
}

@media (max-width: 768px) {
    .main__pages {
        padding: 0px 50px;
    }
}

@media (max-width: 480px) {
    .main__pages {
        padding: 0px 25px;
    }
}



